$text-color: #444;
$text-color-lighter: lighten($text-color, 40);

$border-colour: #ddd;

$padding-xs: 8px;
$padding-sm: 16px;
$padding-md: 32px;

$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
$screen-xl: 1600px;